<!DOCTYPE html> 
<htmllang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pi video stream</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <h1 class="jumbotron text-center">Pi Camera video stream</h1>
        <div class="box">
            <img class="jumbotron" class="img-fluid" src="{{url_for('video_feed')}}">
        </div>
        <form method="POST">
            <input name="name" value="{{request.form.name}}" />
            <input type="submit" name="Capture" value="Snapshot" />
        </form>
        {% if error %}
        <p class="error" style="color:white">{{ error }}
        {% endif %}
    </body>
</html>
